*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: centre;

}
ul{
    float: right;
    margin-top: 25px;

}
ul li{
    display: inline-block
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;

}

.logo img{
    float:left;
    height: auto;

}
.title{
    position: absolute;
    color:#fff;
    top: 20%;
    left: -30%;
    transform: translate(50%,50%);
    
}
.title h1{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 100px;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

    
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.title h2{
    position: absolute;
    color:#fff;
    top: 250%;
    left: 25%;
    transform: translate(50%,50%);
    font-size: 20px;
    

}
.title h3{
    position: absolute;
    color:#fff;
    top: 220%;
    left: 15%;
    transform: translate(50%,50%);
    

}


.button{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(50%,50%);
    

}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: black;
    
}